*{
    margin: 0;
    padding: 0;
    color: #222;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    color: #222;
    text-decoration: none;
}


/** display **/

.inner-width{
	width: 80%;
	margin: 0 auto;
}